{% extends 'base.html.twig' %}

{% block title %}New UsedProduct{% endblock %}

{% block body %}
    <h1>Create new UsedProduct</h1>

    {{ include('used_product/_form.html.twig') }}

{#    <a href="{{ path('used_product_index') }}">back to list</a>#}
{% endblock %}
